body {
    margin: 0;
    font-family: sans-serif;
    font-size: 14px; 
}

*, *:before, *:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.logo {
    font-size: 40px;
    font-weight: 700;
    display: flex;
    float: left;
    padding-top: 8px;
}

.container1 {
    line-height: 1.6;
    font-size: 40px;
    display: flex;
    justify-content: end;
    right: 0%;
}

.checking {
    padding: 0 2.5vw;
}

@media screen and (max-width: 900px){
    .checking {
        
        font-size: 4.5vw;
    }
    .logo {
        font-size: 40px;
        font-weight: 700;
        display: block;
        float: none;
        text-align: center;
        padding-top: 8px;
    }
    .container1 {
        line-height: 1.6;
        font-size: 40px;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
}

